In [21]:
import sys

sys.path.insert(0, '../')

import pandas as pd
import utils.common as cm
import joblib
import numpy as np

from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

In [2]:
test = cm.get_dataframe_test()

In [3]:
modelo_cargado = joblib.load(cm.MODEL_PATH)

In [4]:
y_test = test[cm.get_target()]

In [18]:
y_pred = modelo_cargado.predict(test)

In [13]:
print("ERRORES CONTRA TEST:")
print("")
print("- MAE:", mean_absolute_error(y_test, y_pred))
print("- MAPE:", mean_absolute_percentage_error(y_test, y_pred))
print("- RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))

ERRORES CONTRA TEST:

- MAE: 0.06370862573385239
- MAPE: 0.0023456125054508448
- RMSE: 0.16352385129799232

In [34]:
df_pred_comparativa = pd.DataFrame({'Actual': y_test, 'Predicho': y_pred})
df_pred_comparativa

      Actual   Predicho
0         23  22.858547
1         23  23.014837
2         16  15.938282
3         31  30.994629
4         22  22.007679
...      ...        ...
4507      22  21.989666
4508      31  30.988260
4509      32  32.007305
4510      19  18.991329
4511      28  28.008924

[4512 rows x 2 columns]